[Unit]
Description=OpenRGB control

[Service]
Type=oneshot
ExecStart=/usr/bin/openrgb --server
WorkingDirectory=/var/OpenRGB/

[Install]
WantedBy=multi-user.target
